<%- include("templates/encabezado")%>
<%- include("templates/menu")%>
<h1>MODIFICAR USUARIO</h1>
<form action="/modificarUsuario" method="post" id="formulario">
    <div>
        <input type="hidden" name="id" id="id" value=<%= usuario.id %>>
        <input type="text" name="nombre" id="nombre" placeholder="Nombre" value=<%= usuario.nombre %> autofocus>
        <span id="mensajeNombre"></span>
        <input type="text" name="usuario" id="usuario" placeholder="Usuario" value=<%= usuario.usuario %>>
        <span id="mensajeUsuario"></span>
        <input type="password" name="password" id="password" placeholder="Contraseña" value=<%= usuario.password %>>
        <span id="mensajePassword"></span>
    </div> 
    <div>
        <button type="submit">Modificar usuario</button>
    </div>
</form>
<%- include("templates/pie")%>